@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #034369;
  --white: #ffffff;
  --primary-hover: #012235;
  --secondary-hover: #f5f5f5;
}

body {
  font-family: "Nunito Sans", sans-serif;
}
