@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #034369;
  --tertiary-color: #13edfd;
  --green: #4caf50;
  --white: #ffffff;
  --light-grey: #e0e0e0;
  --red: #e53e3e;
  --yellow: #fcd34d;
  --primary-hover: #012235;
  --secondary-hover: #f5f5f5;
}

body {
  font-family: "Nunito Sans", sans-serif;
}
