<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iceberg UI - Badge</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
    />
    <link rel="stylesheet" href="../../css/nav.css" />
    <link rel="stylesheet" href="../../css/layout.css" />
    <link rel="stylesheet" href="./image.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="nav-heading">
        <a href="/"
          ><img
            class="nav-logo"
            src="../../assets/iceberg-logo.svg"
            alt="iceberg-logo"
        /></a>
      </div>
      <ul class="nav-links">
        <li class="nav-link">
          <a href="/get-started/introduction.html">Docs</a>
        </li>
        <li class="nav-link">
          <a href="/components/alert/alert.html">Components</a>
        </li>
        <li class="nav-link">
          <a href="/get-started/contribution.html">Contribute</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <aside class="drawer">
        <div class="drawer-subheader">Get Started</div>
        <ul>
          <li class="drawer-item">
            <a href="../../get-started/introduction.html">Introduction</a>
          </li>
          <li class="drawer-item"><a href="#">Colors</a></li>
          <li class="drawer-item"><a href="#">Typography</a></li>
          <li class="drawer-item"><a href="#">Contribution</a></li>
        </ul>
        <hr class="divider" />
        <div class="drawer-subheader">Components</div>
        <ul>
          <li class="drawer-item">
            <a href="/components/alert/alert.html">Alert</a>
          </li>
          <li class="drawer-item">
            <a href="/components/avatar/avatar.html">Avatar</a>
          </li>
          <li class="drawer-item">
            <a href="/components/badge/badge.html">Badge</a>
          </li>
          <li class="drawer-item">
            <a href="/components/button/button.html">Button</a>
          </li>
          <li class="drawer-item">
            <a href="/components/card/card.html">Card</a>
          </li>
          <li class="drawer-item drawer-item-active">
            <a href="/components/image/image.html">Image</a>
          </li>
          <li class="drawer-item">
            <a href="/components/input/input.html">Input</a>
          </li>
          <li class="drawer-item"><a href="#">Lists</a></li>
          <li class="drawer-item"><a href="#">Modal</a></li>
          <li class="drawer-item">
            <a href="/components/navigation/navigation.html">Navigation</a>
          </li>
          <li class="drawer-item"><a href="#">Rating</a></li>
          <li class="drawer-item"><a href="#">Grid</a></li>
          <li class="drawer-item"><a href="#">Slider</a></li>
          <li class="drawer-item"><a href="#">Toast (Snackbar)</a></li>
        </ul>
      </aside>

      <main class="main">
        <header class="header">
          <div class="header-title">Image</div>
          <div class="description">
            The Image component is used to display images. It can be responsive
            or of a fixed size and shape.
          </div>
        </header>

        <div class="divider"></div>

        <div class="content">
          <div class="content-title">Responsive Images</div>
          <div class="description">
            Images can be made responsive with 'img-responsive' class. Use this
            if you want to scale image with the parent's width.
          </div>
          <div class="demo">
            <img
              src="https://picsum.photos/1080/360"
              class="img-responsive"
              alt=""
            />
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;img src="..." class="img-responsive" alt="..." /&gt;
                </code>
            </pre>
          </div>
        </div>

        <div class="divider"></div>

        <div class="content">
          <div class="content-title">Square Images</div>
          <div class="description">
            The squared image, crops the image into a square. You can make
            square images in one of the 3 sizes. Using the class 'img-sq-sm |
            img-sq-md | img-sq-lg' to create small image of 150x150, medium of
            200x200 or large of 250x250.
          </div>
          <div class="demo">
            <img
              src="https://picsum.photos/1080/360"
              class="img-sq-sm"
              alt=""
            />
            <img
              src="https://picsum.photos/1080/360"
              class="img-sq-md"
              alt=""
            />
            <img
              src="https://picsum.photos/1080/360"
              class="img-sq-lg"
              alt=""
            />
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;img src="..." class="img-sq-sm" alt="..." /&gt;
  &lt;img src="..." class="img-sq-md" alt="..." /&gt;
  &lt;img src="..." class="img-sq-lg" alt="..." /&gt;
                </code>
            </pre>
          </div>
        </div>
        <div class="divider"></div>

        <div class="content">
          <div class="content-title">Round Images</div>
          <div class="description">
            Round images can be created using 'img-round' class. For best
            results use it with the 'Square Images' classes.
          </div>
          <div class="demo">
            <img
              src="https://picsum.photos/1080/360"
              class="img-sq-sm img-round"
              alt=""
            />
            <img
              src="https://picsum.photos/1080/360"
              class="img-sq-md img-round"
              alt=""
            />
            <img
              src="https://picsum.photos/1080/360"
              class="img-sq-lg img-round"
              alt=""
            />
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;img src="..." class="img-sq-sm img-round" alt="..." /&gt;
  &lt;img src="..." class="img-sq-md img-round" alt="..." /&gt;
  &lt;img src="..." class="img-sq-lg img-round" alt="..." /&gt;
                </code>
            </pre>
          </div>
        </div>
      </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
