<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iceberg UI - Grid</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
    />
    <link rel="stylesheet" href="../../css/nav.css" />
    <link rel="stylesheet" href="../../css/layout.css" />
    <link rel="stylesheet" href="./grid.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="nav-heading">
        <a href="/"
          ><img
            class="nav-logo"
            src="../../assets/iceberg-logo.svg"
            alt="iceberg-logo"
        /></a>
      </div>
      <ul class="nav-links">
        <li class="nav-link">
          <a href="/get-started/introduction.html">Docs</a>
        </li>
        <li class="nav-link">
          <a href="/components/alert/alert.html">Components</a>
        </li>
        <li class="nav-link">
          <a href="/get-started/contribution.html">Contribute</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <aside class="drawer">
        <div class="drawer-subheader">Get Started</div>
        <ul>
          <li class="drawer-item">
            <a href="/get-started/introduction.html">Introduction</a>
          </li>
          <li class="drawer-item"><a href="#">Colors</a></li>
          <li class="drawer-item">
            <a href="/get-started/typography.html">Typography</a>
          </li>
          <li class="drawer-item"><a href="#">Contribution</a></li>
        </ul>
        <hr class="divider" />
        <div class="drawer-subheader">Components</div>
        <ul>
          <li class="drawer-item">
            <a href="/components/alert/alert.html">Alert</a>
          </li>
          <li class="drawer-item">
            <a href="/components/avatar/avatar.html">Avatar</a>
          </li>
          <li class="drawer-item">
            <a href="/components/badge/badge.html">Badge</a>
          </li>
          <li class="drawer-item">
            <a href="/components/button/button.html">Button</a>
          </li>
          <li class="drawer-item">
            <a href="/components/card/card.html">Card</a>
          </li>
          <li class="drawer-item">
            <a href="/components/image/image.html">Image</a>
          </li>
          <li class="drawer-item">
            <a href="/components/input/input.html">Input</a>
          </li>
          <li class="drawer-item">
            <a href="/components/lists/lists.html">Lists</a>
          </li>
          <li class="drawer-item">
            <a href="/components/modal/modal.html">Modal</a>
          </li>
          <li class="drawer-item">
            <a href="/components/navigation/navigation.html">Navigation</a>
          </li>
          <li class="drawer-item">
            <a href="/components/rating/rating.html">Rating</a>
          </li>
          <li class="drawer-item drawer-item-active">
            <a href="/components/grid/grid.html">Grid</a>
          </li>
          <li class="drawer-item"><a href="#">Slider</a></li>
          <li class="drawer-item">
            <a href="/components/toast/toast.html">Toast (Snackbar)</a>
          </li>
        </ul>
      </aside>

      <main class="main">
        <header class="header">
          <div class="header-title">Grid</div>
          <div class="description">
            The grid creates visual consistency between layouts while allowing
            flexibility across a wide variety of designs.
          </div>
        </header>

        <hr class="divider" />

        <div class="content">
          <div class="content-title">Two column grid</div>
          <div class="description">
            To create a two column grid, use the 'grid-col-2' class along with
            the 'grid' class on the parent container of grid items.
          </div>
          <div class="demo">
            <div class="grid grid-col-2">
              <div class="grid-item">1 of 2</div>
              <div class="grid-item">2 of 2</div>
            </div>
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;div class="grid grid-col-2"&gt;
    &lt;div class="grid-item"&gt;1 of 2&lt;/div&gt;
    &lt;div class="grid-item"&gt;2 of 2&lt;/div&gt;
  &lt;/div&gt;
                </code>
            </pre>
          </div>
        </div>
        <hr class="divider" />

        <div class="content">
          <div class="content-title">Three column grid</div>
          <div class="description">
            To create a three column grid, use the 'grid-col-3' class along with
            the 'grid' class on the parent container of grid items.
          </div>
          <div class="demo">
            <div class="grid grid-col-3">
              <div class="grid-item">1 of 3</div>
              <div class="grid-item">2 of 3</div>
              <div class="grid-item">3 of 3</div>
            </div>
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;div class="grid grid-col-3"&gt;
   &lt;div class="grid-item"&gt;1 of 3&lt;/div&gt;
   &lt;div class="grid-item"&gt;2 of 3&lt;/div&gt;
   &lt;div class="grid-item"&gt;3 of 3&lt;/div&gt;
  &lt;/div&gt;                    
                </code>
            </pre>
          </div>
        </div>
        <hr class="divider" />

        <div class="content">
          <div class="content-title">Four column grid</div>
          <div class="description">
            To create a four column grid, use the 'grid-col-4' class along with
            the 'grid' class on the parent container of grid items.
          </div>
          <div class="demo">
            <div class="grid grid-col-4">
              <div class="grid-item">1 of 4</div>
              <div class="grid-item">2 of 4</div>
              <div class="grid-item">3 of 4</div>
              <div class="grid-item">4 of 4</div>
            </div>
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;div class="grid grid-col-4"&gt;
    &lt;div class="grid-item"&gt;1 of 4&lt;/div&gt;
    &lt;div class="grid-item"&gt;2 of 4&lt;/div&gt;
    &lt;div class="grid-item"&gt;3 of 4&lt;/div&gt;
    &lt;div class="grid-item"&gt;4 of 4&lt;/div&gt;
  &lt;/div&gt;
                </code>
            </pre>
          </div>
        </div>
      </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
