.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group .input {
  padding: 0.8rem;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 0.9rem;
}

.input-group .input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: var(--primary-color) 0 0 5px;
  outline: none;
}

.input-group {
  min-width: 60%;
  max-width: 100%;
  width: max-content;
}

.input-group .input + label {
  margin-top: 0.5rem;
}

.input-group .input.input-error {
  border: 1px solid var(--red);
}

.input-error + .error-message {
  margin-top: 0.5rem;
  color: var(--red);
}
