<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iceberg UI - Toast</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
    />
    <link rel="stylesheet" href="../../css/nav.css" />
    <link rel="stylesheet" href="../../css/layout.css" />
    <link rel="stylesheet" href="../button/button.css" />
    <link rel="stylesheet" href="./toast.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="nav-heading">
        <a href="/"
          ><img
            class="nav-logo"
            src="../../assets/iceberg-logo.svg"
            alt="iceberg-logo"
        /></a>
      </div>
      <ul class="nav-links">
        <li class="nav-link">
          <a href="/get-started/introduction.html">Docs</a>
        </li>
        <li class="nav-link">
          <a href="/components/alert/alert.html">Components</a>
        </li>
        <li class="nav-link">
          <a href="/get-started/contribution.html">Contribute</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <aside class="drawer">
        <div class="drawer-subheader">Get Started</div>
        <ul>
          <li class="drawer-item">
            <a href="/get-started/introduction.html">Introduction</a>
          </li>
          <li class="drawer-item"><a href="#">Colors</a></li>
          <li class="drawer-item">
            <a href="/get-started/typography.html">Typography</a>
          </li>
          <li class="drawer-item"><a href="#">Contribution</a></li>
        </ul>
        <hr class="divider" />
        <div class="drawer-subheader">Components</div>
        <ul>
          <li class="drawer-item">
            <a href="/components/alert/alert.html">Alert</a>
          </li>
          <li class="drawer-item">
            <a href="/components/avatar/avatar.html">Avatar</a>
          </li>
          <li class="drawer-item">
            <a href="/components/badge/badge.html">Badge</a>
          </li>
          <li class="drawer-item">
            <a href="/components/button/button.html">Button</a>
          </li>
          <li class="drawer-item">
            <a href="/components/card/card.html">Card</a>
          </li>
          <li class="drawer-item">
            <a href="/components/image/image.html">Image</a>
          </li>
          <li class="drawer-item">
            <a href="/components/input/input.html">Input</a>
          </li>
          <li class="drawer-item">
            <a href="/components/lists/lists.html">Lists</a>
          </li>
          <li class="drawer-item">
            <a href="/components/modal/modal.html">Modal</a>
          </li>
          <li class="drawer-item">
            <a href="/components/navigation/navigation.html">Navigation</a>
          </li>
          <li class="drawer-item">
            <a href="/components/rating/rating.html">Rating</a>
          </li>
          <li class="drawer-item">
            <a href="/components/grid/grid.html">Grid</a>
          </li>
          <li class="drawer-item">
            <a href="/components/slider/slider.html">Slider</a>
          </li>
          <li class="drawer-item drawer-item-active">
            <a href="/components/toast/toast.html">Toast (Snackbar)</a>
          </li>
        </ul>
      </aside>

      <main class="main">
        <header class="header">
          <div class="header-title">Toast</div>
          <div class="description">
            Toasts are a non-disruptive message in the botttom of the interface.
            They provides quick 'at-a-glance' feedback on the outcome of an
            action.
          </div>
        </header>

        <hr class="divider" />

        <div class="content">
          <div class="content-title">Standard Toast</div>
          <div class="description">
            To create a standard toast use the 'toast' class. Then use the
            'toast-label' and 'toast-actions' classes for toast label and to
            wrap action buttons.
          </div>
          <div class="demo">
            <button class="btn btn-primary" id="standard">
              Standard Toast
            </button>
            <div class="toast">
              <div class="toast-label">
                Can't send photo. Retry in 5 seconds.
              </div>
              <div class="toast-actions">
                <button class="btn btn-transparent btn-sm">Retry</button>
                <button class="btn btn-transparent btn-sm btn-icon">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;div class="toast"&gt;
      &lt;div class="toast-label"&gt;
        Can't send photo. Retry in 5 seconds.
      &lt;/div&gt;
      &lt;div class="toast-actions"&gt;
        &lt;button class="btn btn-transparent btn-sm"&gt;Retry&lt;/button&gt;
        &lt;button class="btn btn-transparent btn-sm btn-icon"&gt;
          &lt;span class="material-icons"&gt;close&lt;/span&gt;
        &lt;/button&gt;
      &lt;/div&gt;
  &lt;/div&gt;
                </code>
            </pre>
          </div>
        </div>
        <hr class="divider" />

        <div class="content">
          <div class="content-title">Centered Toast</div>
          <div class="description">
            To create a centered toast use the 'toast-center' class, along with
            the 'toast' class.
          </div>
          <div class="demo">
            <button class="btn btn-primary" id="center">Centered Toast</button>
            <div class="toast toast-center">
              <div class="toast-label">
                Can't send photo. Retry in 5 seconds.
              </div>
              <div class="toast-actions">
                <button class="btn btn-transparent btn-sm">Retry</button>
                <button class="btn btn-transparent btn-sm btn-icon">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;div class="toast"&gt;
      &lt;div class="toast-label toast-center"&gt;
        Can't send photo. Retry in 5 seconds.
      &lt;/div&gt;
      &lt;div class="toast-actions"&gt;
        &lt;button class="btn btn-transparent btn-sm"&gt;Retry&lt;/button&gt;
        &lt;button class="btn btn-transparent btn-sm btn-icon"&gt;
          &lt;span class="material-icons"&gt;close&lt;/span&gt;
        &lt;/button&gt;
      &lt;/div&gt;
  &lt;/div&gt;
                </code>
            </pre>
          </div>
        </div>
        <hr class="divider" />

        <div class="content">
          <div class="content-title">Stacked Toast</div>
          <div class="description">
            To create a stacked toast use the 'toast-stacked' class, along with
            the 'toast' class.
          </div>
          <div class="demo">
            <button class="btn btn-primary" id="stacked">Stacked Toast</button>
            <div class="toast toast-stacked">
              <div class="toast-label">
                Can't send photo. Retry in 5 seconds.
              </div>
              <div class="toast-actions">
                <button class="btn btn-transparent btn-sm">Retry</button>
                <button class="btn btn-transparent btn-sm btn-icon">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>
          </div>
          <div class="demo-code">
            <pre>
                <code class="html">
  &lt;div class="toast"&gt;
      &lt;div class="toast-label toast-stacked"&gt;
        Can't send photo. Retry in 5 seconds.
      &lt;/div&gt;
      &lt;div class="toast-actions"&gt;
        &lt;button class="btn btn-transparent btn-sm"&gt;Retry&lt;/button&gt;
        &lt;button class="btn btn-transparent btn-sm btn-icon"&gt;
          &lt;span class="material-icons"&gt;close&lt;/span&gt;
        &lt;/button&gt;
      &lt;/div&gt;
  &lt;/div&gt;
                </code>
            </pre>
          </div>
        </div>
      </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script>
      const standardBtn = document.querySelector("#standard");
      const centerBtn = document.querySelector("#center");
      const stackedBtn = document.querySelector("#stacked");
      const standardToast = document.querySelector(".toast");
      const centerToast = document.querySelector(".toast-center");
      const stackedToast = document.querySelector(".toast-stacked");

      standardBtn.addEventListener("click", () => {
        standardToast.style.display = "flex";
        setTimeout(() => (standardToast.style.display = "none"), 3000);
      });
      centerBtn.addEventListener("click", () => {
        centerToast.style.display = "flex";
        setTimeout(() => (centerToast.style.display = "none"), 3000);
      });
      stackedBtn.addEventListener("click", () => {
        stackedToast.style.display = "flex";
        setTimeout(() => (stackedToast.style.display = "none"), 3000);
      });
    </script>
  </body>
</html>
