<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Standard Navigation</title>
    <link rel="stylesheet" href="../../css/defaults.css" />
    <link rel="stylesheet" href="./navigation.css" />
    <style>
      body {
        background-color: white;
      }
      p {
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="drawer-frame">
      <aside class="drawer">
        <div class="drawer-header">
          <div>Hi, User</div>
          <div>jhondoe@tmail.com</div>
        </div>
        <hr class="divider" />
        <div class="drawer-content">
          <nav class="side-nav">
            <a class="side-nav-item" href="#">
              <span class="material-icons">play_arrow</span>
              Nav Item 1
            </a>
            <a class="side-nav-item" href="#">
              <span class="material-icons">leaderboard</span>
              Nav Item 2
            </a>
            <a class="side-nav-item" href="#">
              <span class="material-icons">notifications</span>
              Nav Item 3
            </a>
            <a class="side-nav-item" href="#">
              <span class="material-icons">contact_support</span>
              Nav Item 4
            </a>
          </nav>
        </div>
      </aside>
      <div class="main">
        <nav class="nav">
          <div class="nav-section">
            <button class="material-icons nav-icon header-navigation-icon">
              menu
            </button>
            <span class="nav-title">Brand Name</span>
          </div>
          <div class="nav-section nav-section-right">
            <button class="material-icons nav-icon">file_download</button>
            <button class="material-icons nav-icon">print</button>
            <button class="material-icons nav-icon">bookmark</button>
          </div>
        </nav>
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
            deserunt corrupti eveniet voluptatem ea repellendus odit quo tempore
            autem ipsam doloremque iusto saepe, est perspiciatis quaerat dolore,
            exercitationem porro sint vitae nesciunt impedit nemo id error quos!
            Numquam similique labore enim perferendis dolorum, quae repellendus
            inventore dolores fuga obcaecati facere nam exercitationem est cum?
            Incidunt, voluptate maiores pariatur atque quos tempora accusantium
            nemo nisi quibusdam aut adipisci in amet saepe reprehenderit,
            explicabo accusamus veritatis, ad porro! Qui neque, distinctio unde
            reprehenderit repellendus fugiat illo veniam cum quam. Maxime minima
            vitae cupiditate repellendus perferendis recusandae tenetur ea minus
            veritatis necessitatibus. Nemo, molestiae, iste fugiat culpa
            necessitatibus fugit perspiciatis laborum pariatur, repellat velit
            iusto! Nobis consectetur consequatur cumque excepturi recusandae
            tempore saepe pariatur odio hic placeat quis commodi suscipit
            officia eligendi ipsa quia, nisi porro non dicta beatae? Quaerat
            enim totam temporibus dolores maiores dolor ab error. Molestias
            veritatis voluptates alias debitis earum esse officia, minus
            accusamus aut eius, reiciendis voluptate itaque provident id ipsa
            accusantium eligendi? Cupiditate assumenda nesciunt molestias
            accusantium eveniet quisquam repellendus pariatur obcaecati,
            corrupti qui consequuntur dignissimos consectetur nisi, tenetur eius
            quo atque illum accusamus temporibus cumque itaque voluptas amet
            mollitia natus. In perferendis ab debitis cumque. Debitis cum vel
            necessitatibus soluta ullam praesentium, eius neque libero dolore
            eum, quas maiores saepe molestias nisi facere, doloremque deleniti
            voluptates vitae rerum suscipit totam quasi. Tempora, aut? Corporis
            iusto vel officiis temporibus ex possimus animi alias ullam, quas
            dolorem omnis deleniti commodi, architecto impedit autem reiciendis
            hic doloribus necessitatibus explicabo. Ea rem sed qui porro soluta
            accusantium eveniet et, accusamus, suscipit repellat cumque nesciunt
            odit fuga? Omnis sunt distinctio, aut cumque quisquam deserunt cum
            corporis suscipit qui nam minus repellat nihil aliquid neque
            necessitatibus sit odio non, obcaecati dignissimos perferendis quia
            culpa laboriosam quidem. Iusto deserunt eveniet itaque mollitia ut
            perferendis, amet, tempora natus et quasi architecto iste. At
            praesentium nulla, ratione officiis repudiandae debitis! Itaque
            facilis tempora esse ratione soluta ut placeat adipisci officia vero
            iste mollitia corrupti, consectetur harum voluptas in hic
            reprehenderit sint tempore illum molestiae tenetur modi. Totam rem
            deleniti, quos placeat, maxime nostrum quaerat eos quibusdam fugiat
            dicta voluptatibus debitis temporibus, optio accusantium neque
            aliquid architecto odit? Repudiandae, quaerat ipsam. Itaque,
            excepturi, nobis ab quaerat ea nisi odit beatae illo ipsam corrupti
            soluta atque! Inventore excepturi saepe perferendis itaque, magni
            doloribus ipsum quia quam unde quos delectus nostrum ipsa nihil iure
            blanditiis non earum quidem deserunt a asperiores ullam illum fugiat
            modi. Est qui suscipit veniam voluptatem recusandae sapiente, ipsam
            odit perferendis quibusdam adipisci perspiciatis esse non quasi
            animi iste, rerum illum? Rem asperiores assumenda laudantium maiores
            illum hic saepe dolorum, odio tenetur ipsam cupiditate voluptatem
            obcaecati vel eos dolore doloremque ad eligendi quibusdam quod
            quisquam quis quidem delectus eveniet. Eaque non odit voluptate,
            consectetur ab dolore aliquam doloremque facere assumenda placeat
            accusamus natus vero minima, dicta voluptatibus ipsam veniam,
            commodi modi odio voluptatum sequi! Vitae, quo fuga facilis
            inventore nemo ab perspiciatis neque, cumque tenetur mollitia unde
            eligendi aliquid voluptatum. Odio ipsam temporibus sed!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
            deserunt corrupti eveniet voluptatem ea repellendus odit quo tempore
            autem ipsam doloremque iusto saepe, est perspiciatis quaerat dolore,
            exercitationem porro sint vitae nesciunt impedit nemo id error quos!
            Numquam similique labore enim perferendis dolorum, quae repellendus
            inventore dolores fuga obcaecati facere nam exercitationem est cum?
            Incidunt, voluptate maiores pariatur atque quos tempora accusantium
            nemo nisi quibusdam aut adipisci in amet saepe reprehenderit,
            explicabo accusamus veritatis, ad porro! Qui neque, distinctio unde
            reprehenderit repellendus fugiat illo veniam cum quam. Maxime minima
            vitae cupiditate repellendus perferendis recusandae tenetur ea minus
            veritatis necessitatibus. Nemo, molestiae, iste fugiat culpa
            necessitatibus fugit perspiciatis laborum pariatur, repellat velit
            iusto! Nobis consectetur consequatur cumque excepturi recusandae
            tempore saepe pariatur odio hic placeat quis commodi suscipit
            officia eligendi ipsa quia, nisi porro non dicta beatae? Quaerat
            enim totam temporibus dolores maiores dolor ab error. Molestias
            veritatis voluptates alias debitis earum esse officia, minus
            accusamus aut eius, reiciendis voluptate itaque provident id ipsa
            accusantium eligendi? Cupiditate assumenda nesciunt molestias
            accusantium eveniet quisquam repellendus pariatur obcaecati,
            corrupti qui consequuntur dignissimos consectetur nisi, tenetur eius
            quo atque illum accusamus temporibus cumque itaque voluptas amet
            mollitia natus. In perferendis ab debitis cumque. Debitis cum vel
            necessitatibus soluta ullam praesentium, eius neque libero dolore
            eum, quas maiores saepe molestias nisi facere, doloremque deleniti
            voluptates vitae rerum suscipit totam quasi. Tempora, aut? Corporis
            iusto vel officiis temporibus ex possimus animi alias ullam, quas
            dolorem omnis deleniti commodi, architecto impedit autem reiciendis
            hic doloribus necessitatibus explicabo. Ea rem sed qui porro soluta
            accusantium eveniet et, accusamus, suscipit repellat cumque nesciunt
            odit fuga? Omnis sunt distinctio, aut cumque quisquam deserunt cum
            corporis suscipit qui nam minus repellat nihil aliquid neque
            necessitatibus sit odio non, obcaecati dignissimos perferendis quia
            culpa laboriosam quidem. Iusto deserunt eveniet itaque mollitia ut
            perferendis, amet, tempora natus et quasi architecto iste. At
            praesentium nulla, ratione officiis repudiandae debitis! Itaque
            facilis tempora esse ratione soluta ut placeat adipisci officia vero
            iste mollitia corrupti, consectetur harum voluptas in hic
            reprehenderit sint tempore illum molestiae tenetur modi. Totam rem
            deleniti, quos placeat, maxime nostrum quaerat eos quibusdam fugiat
            dicta voluptatibus debitis temporibus, optio accusantium neque
            aliquid architecto odit? Repudiandae, quaerat ipsam. Itaque,
            excepturi, nobis ab quaerat ea nisi odit beatae illo ipsam corrupti
            soluta atque! Inventore excepturi saepe perferendis itaque, magni
            doloribus ipsum quia quam unde quos delectus nostrum ipsa nihil iure
            blanditiis non earum quidem deserunt a asperiores ullam illum fugiat
            modi. Est qui suscipit veniam voluptatem recusandae sapiente, ipsam
            odit perferendis quibusdam adipisci perspiciatis esse non quasi
            animi iste, rerum illum? Rem asperiores assumenda laudantium maiores
            illum hic saepe dolorum, odio tenetur ipsam cupiditate voluptatem
            obcaecati vel eos dolore doloremque ad eligendi quibusdam quod
            quisquam quis quidem delectus eveniet. Eaque non odit voluptate,
            consectetur ab dolore aliquam doloremque facere assumenda placeat
            accusamus natus vero minima, dicta voluptatibus ipsam veniam,
            commodi modi odio voluptatum sequi! Vitae, quo fuga facilis
            inventore nemo ab perspiciatis neque, cumque tenetur mollitia unde
            eligendi aliquid voluptatum. Odio ipsam temporibus sed!
          </p>
        </div>
      </div>
    </div>
    <script src="./drawer-nav.js"></script>
  </body>
</html>
